* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: rgb(248, 203, 3);
}

.memory-game {
  width: 830px;
  height: 830px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25.333% - 10px);
  margin: 5px;
  position: relative;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transform-style: preserve-3d;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  -ms-transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
  transform: scale(0.97);
  -webkit-transition: transform .2s;
  -moz-transition: transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
}

.memory-card.flip {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #1C7CCC;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front-face {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
